<section class="container">
    <div class="navbar">
        <img src="/unip.png" alt="Logo" />
        <nav class="menu">
            <ul>
                <li>
                    <a routerLink="/" title="Home">
                        <lucide-icon [img]="House" [size]="24"></lucide-icon>
                    </a>
                </li>
                <li>
                    <a routerLink="/about" title="About">
                        <lucide-icon [img]="Info" [size]="24"></lucide-icon>
                    </a>
                </li>
                <li>
                    <a routerLink="/contact" title="Contact">
                        <lucide-icon [img]="Mail" [size]="24"></lucide-icon>
                    </a>
                </li>
                <li (click)="openCart()" title="Carrinho">
                    <lucide-icon [img]="ShoppingCart" [size]="24"></lucide-icon>
                </li>
            </ul>
        </nav>
    </div>
</section>